<h1>Welcome to the Default Page</h1>

<p>Click on the links below to navigate to different routes:</p>

<ul>
  <li><%= link_to 'All Users', users_path %></li>
  <li><%= link_to 'Single User', user_path(1) %></li>
  <li><%= link_to 'All Posts by User', user_posts_path(1) %></li>
  <li><%= link_to 'Single Post', post_path(1) %></li>
</ul>

<p><%= link_to 'Back', root_path %></p>
